.navbar-custom {
    color: black;
    background-color:black;
    }
 
 .btn-space {
    margin-right: 10px;
    font-family: Sansation;
}
.navbar-brand{
	position: absolute;
	top: 20px;
	left: 80px;
	color: #ffffff;
	font-size: 1.2rem;
	font-family: Sansation;
}
.nav-item{
	color: blue;
}
a:hover {
  background-color: black;
}
a{
	font-size: 18px;
}
.nav-link{
	color: #FFFFFF;
}
#logo{
	height: 60px;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-family: Sansation;
}
