/* Navbar Styles*/
.navbar-custom {
    color: black;
    background-color:black;
    }
 
 .btn-space {
    margin-right: 10px;
    font-family: Sansation;
}
.navbar-brand{
	position: absolute;
	top: 20px;
	left: 80px;
	color: #ffffff;
	font-size: 1.2rem;
	font-family: Sansation;
}
.nav-item{
	color: blue;
}
a:hover {
  background-color: black;
}
a{
	font-size: 18px;
}
.nav-link{
	color: #FFFFFF;
}
#logo{
	height: 60px;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-family: Sansation;
}

/* Sponsors Styles */
.card-body{

	height: 0px;
	background-color: aqua;
    transition: 1s;
	
}
.card-body:hover{
	transition: 1s;
	transform: translateY(-100px);
	height: fit-content;
	

}


.card-text{
	opacity: 0;
}
.card-text:hover{
	opacity: 1;
	transition: 1s;

}

	
@keyframes textanima {
	from    {
		   
			opacity: 0;
	}
	to{
		transform: translateY(-100px);
		opacity: ;
	}
	
}